.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.logo h2 {
    margin: 0;
    font-size: 24px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.user-actions a,
.user-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.user-actions button:hover,
.user-actions a:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 20px;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
}

.btn-add, .btn-edit, .btn-details, .btn-delete {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-add:hover, .btn-edit:hover, .btn-details:hover, .btn-delete:hover {
    background-color: #0056b3;
}

.no-results {
    color: #888;
}
